*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/background.webp") top center/cover no-repeat;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.cano {
  width: 80vw;
  max-height: 30vh;
  z-index: 999;
}

.mario {
  opacity: 0;
  position: absolute;
  width: 15vw;
  bottom: 0px;
  left: 42px;
  animation: AnimationMario 10s infinite ease;
}

@keyframes AnimationMario {
  0% {
    opacity: 0;
    bottom: 0px;
    left: 13vw;
  }

  10% {
    opacity: 1;
    bottom: 20vh;
    left: 13vw;
  }

  20% {
    opacity: 0;
    bottom: 0px;
    left: 13vw;
  }

  25% {
    opacity: 0;
    bottom: 0px;
    left: 33vw;
  }

  35% {
    opacity: 1;
    bottom: 20%;
    left: 33vw;
  }

  45% {
    opacity: 0;
    bottom: 0px;
    left: 33vw;
  }

  50% {
    opacity: 0;
    bottom: 0px;
    left: 53vw;
  }

  60% {
    opacity: 1;
    bottom: 20%;
    left: 53vw;
  }

  70% {
    opacity: 0;
    bottom: 0px;
    left: 53vw;
  }

  75% {
    opacity: 0;
    bottom: 0px;
    left: 73vw;
  }

  85% {
    opacity: 1;
    bottom: 20%;
    left: 73vw;
  }

  90% {
    opacity: 0;
    bottom: 0px;
    left: 73vw;
  }
}
