body {
  background: url("../images/background.webp") top center/cover no-repeat;
}
.cano {
  max-width: 90vw;
  bottom: 0;
  position: absolute;
  z-index: 999;
}

.mario {
  opacity: 0;
  position: absolute;
  width: 250px;
  bottom: 0px;
  left: 42px;
  animation: AnimationMario 10s infinite ease;
}

@keyframes AnimationMario {
  0% {
    opacity: 0;
    bottom: 0px;
    left: 42px;
  }

  10% {
    opacity: 1;
    bottom: 220px;
    left: 42px;
  }

  20% {
    opacity: 0;
    bottom: 0px;
    left: 42px;
  }

  25% {
    opacity: 0;
    bottom: 0px;
    left: 372px;
  }

  35% {
    opacity: 1;
    bottom: 220px;
    left: 372px;
  }

  45% {
    opacity: 0;
    bottom: 0px;
    left: 372px;
  }

  50% {
    opacity: 0;
    bottom: 0px;
    left: 692px;
  }

  60% {
    opacity: 1;
    bottom: 220px;
    left: 692px;
  }

  70% {
    opacity: 0;
    bottom: 0px;
    left: 692px;
  }

  75% {
    opacity: 0;
    bottom: 0px;
    left: 1022px;
  }

  85% {
    opacity: 1;
    bottom: 220px;
    left: 1022px;
  }

  90% {
    opacity: 0;
    bottom: 0px;
    left: 1022px;
  }
}
